{% extends 'user/base.html' %}
        
{% load static %}

{% block css_add %}
    <title>Mais informações</title>
    
    <style>  
        .adm-area{
          color:beige;
          width:100%;
          height:100px;
          padding-top: 30px;
          float: left;          
        }
        h3{
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
          color: blue;
      
        }
        h6 {
            font-size: 1.6rem;;
        }
        .heading-block:after {
            border-top: 0px solid #444;
        }
        .btn-1{
          float: right;
        }
      
        .btn-2{
          float: left;
        }
        label{
            font-size: 1.4rem;
        }
        p {
            font-size: 1.6rem;
        }
        div.ks-cboxtags label {
            display: inline-block;
            background-color: rgba(255, 255, 255, .9);
            border: 2px solid rgba(139, 139, 139, .3);
            color: #adadad;
            border-radius: 15px;
            white-space: nowrap;
            margin: 3px 0px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent;
            transition: all .2s;
            font-size: 1.2rem;
            padding: 7px 12px;
            cursor: pointer;
        }
        
        div.ks-cboxtags label i{
            font-size: 12px;        
        }   

        div.ks-cboxtags label i::before {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-weight: 900;
            font-size: 12px !important;
            padding: 2px 2px 2px 2px;
            content: "\e71d";
            transition: transform .3s ease-in-out;
        }

        div.ks-cboxtags input[type="checkbox"]:checked + label i::before {
            content: "\e6c8";
            transform: rotate(-360deg);
            transition: transform .3s ease-in-out;
        }

        div.ks-cboxtags input[type="checkbox"]:checked + label i {
            transform: rotate(-360deg);
            transition: transform .3s ease-in-out;
        }

        div.ks-cboxtags input[type="checkbox"]:checked + label {
            border: 2px solid white;
            background-color: #337ab7;
            color: #fff;
            transition: all .2s;
        }

        div.ks-cboxtags input[type="checkbox"] {
            display: absolute;
            position: absolute;
            opacity: 0;
        }

        div.card {
            border-radius: 10px;
            border: 2px solid rgba(139, 139, 139, .5);
            padding: 10px;
            min-height: 344px;
            margin-bottom: 10px;
        }

        div.card div.card-body p.card-text {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>

    <style id="fit-vids-style">
        .fluid-width-video-wrapper{
            width:100%;
            position:relative;
            padding:0;
        }
        .fluid-width-video-wrapper iframe, .fluid-width-video-wrapper object, .fluid-width-video-wrapper embed {
            position:absolute;
            top:0;left:0;
            width:100%;
            height:100%;
        }
    </style>
 
{% endblock %}

{% block content %}
    <div id="wrapper" class="clearfix" style="animation-duration: 1.5s; opacity: 1;">
        <div class="container-fluid">
    
            <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-3 col-sm-3">
                    <div id="logo">
                        <a href="/" class="standard-logo">
                            <img src="/static/user/images/logos/logoBiome%402x.png" style="padding:5%;" id="hack-onload">
                        </a>
                    </div>
                    <!-- #logo end -->
                </div>
    
                <div class="col-md-6 col-lg-6 col-sm-6">
                    <div class="adm-area">
                        <center>
                            <div class="heading-block uppercase">
                                <h2>Mais informações</h2>                            
                            </div>
                        </center>
                    </div>
                </div>

                <div class="col-md-2 col-lg-2 col-sm-2" style="margin-right: 0px; top: 10px; position: absolute; right: 10px; ">
                    <div class="adm-area">
                        <button id="logOutBtn" class="btn btn-primary btn-danger" style="right: 0; position: absolute;">
                            <i class="icon-off text-uppercase probootstrap-uppercase"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="container" id="info-container" style="margin-top:15px;">            
                <div class="row content-row info-row" style="margin-top:15px;" >
                    <div class="content-col col-md-10 col-md-offset-2 col-xs-12 col-sm-12 col-lg-10 col-lg-offset-2">
                        <!-- Tab content -->
                        <div class="tab-content">
                            <!-- tab pane 2 -->
                            <!-- Data -->
                            <div role="tabpanel" class="tab-pane active" id="data">
                                <section class="probootstrap-section probootstrap-border-top">
                                    <div class="row">
                                        <h6 class="text-uppercase probootstrap-uppercase">INFORMAÇÕES PESSOAIS</h6>
                                        <div class="col-lg-12 col-md-12 form-group">
                                            <label>Nome completo:</label>
                                            <p>{{ dados.name }}</p>
                                        </div>                                        
                
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>E-mail:</label>
                                            <p>{{ dados.email }}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>Telefone:</label>
                                            <p>{{ dados.tel }}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>Tipo de inscrição:</label>
                                            <p>{{ dados.subscription_type }}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>Instituição:</label>
                                            <p>{{ dados.institution }}</p>
                                        </div>
                                        
                                    </div>
                
                                    <div class="row">
                                        <h6 class="text-uppercase probootstrap-uppercase">ENDEREÇO</h6>
                
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>País:</label>
                                            <p>{{ dados.country }}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>Código postal:</label>
                                            <p>{{ dados.zip }}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>Estado:</label>
                                            <p>{{ dados.state }}</p>
                                        </div>
                                        <div class="col-lg-6 col-md-6 form-group">
                                            <label>Cidade:</label>
                                            <p>{{ dados.city}}</p>
                                        </div>
                                        <div class="col-lg-12 col-md-12 form-group">
                                            <label>Endereço:</label>
                                            <p>{{ dados.address }}</p>
                                        </div>
                                    </div>
                
                                                              
                                </section>
                            </div>
                            
                            <script>
                                
                            </script>

                            <h6 class="text-uppercase probootstrap-uppercase">PAGAMENTO</h6>

                            <div role="tabpanel" class="tab-pane active" id="payment">
                                {% if dados.payment %}
                                    <!--se o usuário pagou-->
                                    {% if user_paid == True%}
                                                
                                        {% if dados.payment == 'pay' %}
                                            <div id="payment-success" class="alert alert-success" role="alert">Pagamento confirmado!</div>
                                        {% elif dados.payment == 'Available' %}
                                            <div id="payment-success" class="alert alert-success" role="alert">Disponível</div>
                                        {% elif dados.payment == 'Under analysis' or dados.payment == 'Awaiting payment' %}
                                            <div id="payment-success" class="alert alert-warning" role="alert">{{dados.payment}}</div> 
                                            
                                        {% else %}
                                            <div class="alert alert-danger uppercase" role="alert">{{dados.payment}}</div>
                                        {% endif %}
                                            
                                            <br/>
                                            {% if dados.comment is not Null %}
                                                <p>{{dados.comment}}</p>
                                            {% endif %}
                                        <!--se o usuário n pagou-->
                                    {% else %}
                                        <div id="payment-success" class="alert alert-danger" role="alert">Não pago</div>

                                        <form action="{% url 'change_payment' dados.id %}" method="POST">
                                            
                                            <br/>
                                            Observações sobre o pagamento:
                                            <br/>
                                            <textarea name="observation" type="text" rows="4" cols="50" ></textarea>
                                            
                                            {% csrf_token %}
                                            <br/>
                                            <input type="submit" value="Confirm payment" />
                                        </form>
                                    {% endif %} 
                                <!-- se dados.payment for nulo-->
                                {% else %}
                                    <div id="payment-success" class="alert alert-danger" role="alert">Nenhum pagamento encontrado!</div>
                                        
                                {% endif %}
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="container">
                <a href="{% url 'admin_area' %}">
                    <p style="margin-top:50px; text-align: center;"><i class="icon-arrow-left"></i>Voltar para a área de administração</p>
                </a>
            </div> 
        </div>
    </div>
          
    <div onmouseover="this.style.background='#0083B0';" onmouseout="this.style.background='#333';" id="gotoTop" class="icon-angle-up"></div>
{% endblock %}

{% block js_add %}      
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    
{% endblock %}
