{% extends 'user/base.html' %}

{% load static %}

{% block css_add %}
    <style>
        body{
            background-color: #F9F9F9;
        }
        .form-login {
            max-width: 500px;
            padding: 15px;
            margin: 0 auto;
            border:none;
        }

        img.logoLogin {
            display: block;
            margin: auto;
            width: 500px !important;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 40px;
            padding-bottom: 40px;
        }

        /* nav fix */
        .nav-tabs>li {
            height:62px;
        }
        .nav-tabs>li>a, .nav-tabs>li>a>div {
            height:100%;
            display:table;
        }
        .nav-tabs>li>a span {
            display:table-cell;
            vertical-align:middle;
        }
        li[role="presentation"] a {
            width: 100%;
        }
    </style>

    <title>User - Alterar Senha</title>

    <script>
        function alter_cor(id){
            document.getElementById(id).style.border='2px solid rgb(178,34,34)';
        }
    </script>
{% endblock %}

{% block content %}
    <div class="container">
        <img class="logoLogin" src="{% static 'user/images/logos/biome2.jpg' %}" style="width: 300px;"/>
    </div>

    <div class="container" id="login-container">

        <div class="row form-login" style="background-color:#ffffff; border:1px solid #dddddd; border-radius: 5px;">
            <div class="col-lg-12 col-md-12 text-center">
                <!-- Nav tabs -->

                  <h4 class= "text-uppercase probootstrap-uppercase">Alterar Senha</h4>
                  <b>
                      {{errors.concluido}}
                  </b>
              </a>
            </div>
        </div>

        <div class="row">
                <!-- Tab panes -->
                <div class="tab-content form-signin">
                    <div role="tabpanel" class="tab-pane active signin-pane" id="changePassword">
                        {% if confirm is False %}
                        <form method="post" class="probootstrap-form form-signin form-login" id="signInForm" name="signin">
                            {% if authenticated %}
                              <div class="col-lg-12 col-md-12 form-group">
                                <label for="password">Antiga senha</label>
                                <input type="password" class="form-control" id="oldpassword" name="oldsenha" required value="">
                                {{errors.senha_incorreta}}
                                  {% if errors.senha_incorreta %}
                                    <script>alter_cor('oldpassword');</script>
                                  {% endif %}
                              </div>
                            {% endif %}

                          <div class="col-lg-12 col-md-12 form-group">
                            <label for="password">Nova senha</label>
                            <input type="password" class="form-control" id="password" name="senha" required value="">
                            {{errors.senha_diferentes}}
                            {{errors.senha_vazia}}
                            {{errors.senha_numerica}}
                            {{errors.senha_letras}}
                            {{errors.senha_pequena}}
                            {% if dados.password %}
                                <script>alter_cor('password');</script>
                            {% endif %}
                            {% if errors.senha_diferentes %}
                                <script>alter_cor('password');</script>
                            {% endif %}
                          </div>

                          <div class=" col-lg-12 col-md-12 form-group">
                            <label for="password">Confirmar senha</label>
                            <input type="password" class="form-control" id="repeat_password" name="repeat_password" required value="">
                            {{errors.senha_diferentes}}
                            {% if errors.senha_diferentes %}
                                <script>alter_cor('repeat_password');</script>
                            {% endif %}
                          </div>

                          <div class="row">
                            <div class="col-lg-12 col-md-12 form-group">
                                <div class="form-group text-center ">
                                    <input type="submit" class="btn btn-primary btn-lg " id="submit" name="submit" value="Salvar" >
                                </div>
                            </div>
                          </div>
                          
                          {% csrf_token %}
                        </form>

                        {% else %}
                            <br>
                            <div class="row">
                            <div class="col-lg-12 col-md-12 form-group">
                                <div class="form-group text-center ">
                                    <a class="btn btn-primary btn-lg " href="{% url 'user_painel' %}">Retornar para área de usuário</a>
                                </div>
                            </div>
                          </div>
                        {% endif %}
                    </div>
            </div>
        </div>
    </div>

    <div class="container">
        {% if confirm is False %}
        <a href="{% url 'user_painel'%}">
            <p style="margin-top: 50px; text-align: center;"><i class="icon-arrow-left"></i>Retornar para área de usuário</p>
        </a>
        {% endif %}
    </div>
{% endblock %}

{% block js_add %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
{% endblock %}
