<div id="divbody" style=" padding-top: 4em; font-family: 'Lato', sans-serif; position: relative; bottom: 0px; top: 0px; left: 0px; right: 0px; background: #F9F9F9; width: 100%; height: 100%;">
	<div id="header" style="align-items: center; height: 6em; line-height: 6em; position: relative; top: 0; width: 100%; z-index: 10001; text-align: center;">
		<a><img  src="cid:img_logo"></a>
	</div>

	<!-- Banner -->
	<div style="padding: 4em 0 4em 0;  text-align: center;">
		<div>
			<h1 style="font-size: 2em; color: #0083B0; line-height: 1.5; margin: 0 0 0.5em 0; padding: 0;color: #727a82; font-weight: 700; font-family: 'Lato', sans-serif; line-height: 1.5; margin: 0 0 1em 0; font-size: 2em;">
				title_user
			</h1>
			<p  style="font-size: 1em; margin-bottom: 1.75em; color: black;">Oi nome_user! msg_user</p>

			<div>
				<a href="link_user">
					<button  style=" border-radius: 4px; display: inline-block; font-family: 'Lato', sans-serif; padding: 0 3.5em; text-align: center; border: solid 1px #000; position: relative; z-index: 1000; font-weight: bold; text-transform: uppercase; min-width: 10vmin; height: 70px; box-shadow: 0 14px 26px -12px rgba(0,0,0,.42), 0 4px 23px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2); background-color: #0083B0;	color: #F9F9F9; font-size: 100%;">
						<p>confirm_btn</p>
					</button>
				</a>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div style="padding: 3em 0 2em 0;background: #BBB; text-align: center; color: #000; width: 100%; position: relative; bottom: 0;">
		<div  style="margin: 0 auto; max-width: 65em;">
			<ul  style="list-style: none; margin: 0 0 2em 0; padding-left: 1em;">
				<li style="padding-left: 0.5em;"></span>+55 (84) 99422-6560</li>
				<li style="padding-left: 0.5em;"></span>biome@imd.ufrn.br</li>
			</ul>
		</div>
		<div style="display: inline-block; color: #000; font-size: 0.75em; margin: 0 0 0em 0; padding: 0; text-align: center; border-top: 1px solid rgba(255, 255, 255, 0.25); padding: 2px 5px;">Copyrights &copy; 2019 All Rights Reserved by BioME.</div>
	</div>
</div>


